body{
    background-color: #1c253f;
    font-family: "Fredoka";
}

section{
    margin: 100px auto;
    width: 600px;
}

h1{
    color: white;
    font-size: 1rem;
}

#root_table{
    width: 100%;
}

#profile_table{
    width: 100%;
    background-color: #22326b;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

#button-search{
    width: 100%;
    line-height: 1.5;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: #0d6efd;
}

#button_td{
    padding-left: 20px;
}

#input-search{
    font-family: inherit;
    line-height: 1.5;
    padding: 8px 10px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#content_main{
    height: 100%;
    vertical-align: top;
}

#content-extra{
    height: 100%;
    vertical-align: top;
}