@font-face {
    font-family: "NanumMyeongjo-Bold";
    src: url(../Semana2/fonts/NanumMyeongjo-Bold.ttf);
}

@font-face {
    font-family: "Righteous-Regular";
    src: url(../Semana2/fonts/Righteous-Regular.ttf);
}

body{
    background-color: beige;
}

h1{
    color:gray;
    text-decoration: underline;
}

h2{
    color: blue;

}

#cabecera1{
    color: red;
}

.parrafos_rojos{
    color:red;
    font-weight: 777;
}

td{
    color:green !important;
}

th{
    background-color: burlywood;
}

.span1{
    font-family: "NanumMyeongjo-Bold";
    background-color: rebeccapurple;
}

.span2{
    font-family: "Righteous-Regular";
    text-decoration: overline;
}

.span3{
    font-family: "Jost";
    text-transform: uppercase;
}